* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}


body {
    background: hsl(212, 45%, 89%);
    padding: 4rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}


.container {
    max-width: 330px;
    margin: 0 auto;
    padding: 1rem;
    background: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#qr {
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
}

.container p {
    color: hsl(220, 15%, 55%);
    padding: 0 0.75rem 1.25rem 0.75rem;
    
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.fa-github {
    color: #333333;
    font-size: 11px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: scale(1.25);
}